doctype html
html
  head
    meta(charset='utf-8')
    script(src="./js/main.js")
    title
  body
    div Minimal webpack setup files for front-end development. Let's see if `npm run compile` will output our files successfully.
    | Yep. It looks like the `--watch` argument is necessary for proper /dist output.
